.items span {
  display: block;
  height: 40px;
  margin-bottom: 10px;
  position: relative;
  bottom: 15px;
  overflow-y: hidden;
  word-wrap: break-word;
  text-align: center;
}

.items div {
  color: #777;
	
}

.items div:hover {
  	color: #000;
	transition: color .2s ease-in-out;
	
}

/*---------------------- Image Preview -------------------------------------*/
div#preview-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(2, 1, 1, 0.5);
}
#preview-wrapper>img {
	position: relative;
	margin: 0 auto;
	display: table;
	top: 50%;
	transform: translateY(-50%);
}