<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
-->

  <link rel="stylesheet" href="css/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.min.js"></script>
  </head>
<body ng-controller="WebService as ctrl" ng-cloak>
<div class="container">
<div my-dom-directive>Click Me!</div>
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">By $http.get</h2>
        </div>
        <div class="items">
        	<div class="col-lg-2 col-md-3 col-xs-5 thumb" ng-repeat="x in ctrl.photosArray"  >
                <a class="thumbnail" href="#" url="{{x.url}}" ng-Preview >
                    <img class="img-responsive" src="{{x.thumbnailUrl}}" alt="{{x.title}}" >
                </a>
                <span>{{x.title}}</span>
            </div>
        </div>
	
        
    </div>
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">By $resource</h2>
        </div>
        <div class="items">
        	<div class="col-lg-2 col-md-3 col-xs-5 thumb" ng-repeat="x in ctrl.photosArray2">
                <a class="thumbnail" url="{{x.url}}"  ng-Preview>
                    <img class="img-responsive" src="{{x.thumbnailUrl}}" alt="{{x.title}}">
                </a>
                <span>{{x.title}}</span>
            </div>
        </div>

        
    </div>

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © Binary-Angular-Task 2015</p>
            </div>
        </div>
    </footer>

</div>



  <script src="js/controllers.js"></script>

</body>
</html>

